# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Add any directories, files, or patterns you don't want to be tracked by version control
.idea

# ignore vs code project config files
.vs

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# Environment varibles
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#temp
temp
.DS_Store

# ignore logs
logs
*.log

# ignore test converage
coverage
